:root {
    --whiteBg: #FFFFFF;
    --whiteText: #FFFFFF;
    --blueColor: #2196F3;
    --LightblueColor1: #99D3FF;
    --LightblueColor2: #E3F3FF;
    --LightblueColor3: #E3F3FF;
    --darkColor: #222222;
    --lightGreyColor: #757575;
    --lightGreyBGcolor: #F8F9FB;
    --borderColor: #E3E4E5;
    --iconBGcolor: #EDEEF0;
    --errorColor: #FF1515;
    --errorLight: rgba(255, 21, 21, 0.10);

    --redColor: #F44336;
    --redLight: rgba(244, 67, 54, 0.2);
    --orangeColor: #FF6F00;
    --orangeLight: rgba(255, 111, 0, 0.2);
    --yellowColor: #FFB300;
    --yellowLight: rgba(255, 179, 0, 0.2);
    --greenColor: #9CCC65;
    --greenLight: rgba(156, 204, 101, 0.2);
    --darkGreenColor: #4CAF50;
    --darkGreenLight: rgba(76, 175, 79, 0.2);

}
html {
    font-size: 10px;
}
html body {
    background: var(--whiteBg) !important;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.flxrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flxwrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    flex-wrap: wrap;
}
.flxfix {
	-ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.flxflexi {
	-ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    position: relative;
}
.flxcol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}


.btnwrap { display: flex; column-gap: 16px; margin: 24px 0 0 0;}
.btnwrap.centeralign { justify-content: center;} 
body .revbtn { display: inline-flex; height: 44px; padding: 0 24px; border-radius: 100px; font-size: 14px; font-weight: 400; background: var(--blueColor); text-decoration: none; outline: none; box-shadow: none; color: var(--whiteText); align-items: center; column-gap: 6px; border: none; column-gap: 4px; line-height: 16px;}
body .revbtn i { font-size: 22px;}
body .revbtn + .revbtn{ margin-left: 10px;}
body .btnwrap .revbtn + .revbtn { margin: 0;}
body .revbtn:disabled { display: inline-flex; height: 44px; padding: 0 24px; border-radius: 100px; font-size: 14px; font-weight: 400; background: var(--blueColor); text-decoration: none; outline: none; box-shadow: none; color: var(--whiteText); align-items: center; column-gap: 6px; border: none; column-gap: 4px; line-height: 16px; opacity: 0.5;}
body .revbtn:hover { background: var(--blueColor); color: var(--whiteText);}
body .revbtn.tinybtn { height: 24px; padding: 0 12px; column-gap: 6px;}
body .revbtn.tinybtn:disabled { height: 24px; padding: 0 12px; column-gap: 6px; opacity: 0.5;}
body .revbtn.smbtn { height: 36px; font-size: 12px; column-gap: 2px;}
body .revbtn.smbtn:disabled { height: 36px; font-size: 12px; column-gap: 2px; opacity: 0.5;}
body .revbtn.lightbtn { background: var(--lightGreyBGcolor); color: var(--darkColor);}
body .revbtn.lightbtn:disabled { background: var(--lightGreyBGcolor); color: var(--darkColor); opacity: 0.5;}
body .revbtn.lightbtn:hover { background: var(--lightGreyBGcolor); color: var(--darkColor);}
body .revbtn.bluelightbtn { background: var(--LightblueColor3); color: var(--blueColor);}
body .revbtn.bluelightbtn:disabled { background: var(--LightblueColor3); color: var(--blueColor); opacity: 0.5;}
body .revbtn.bluelightbtn:hover { background: var(--LightblueColor3); color: var(--blueColor);}
body .revbtn.outline { background: var(--whiteBg); border: solid 1px var(--borderColor); color: var(--darkColor);}
body .revbtn.outline:disabled { background: var(--whiteBg); border: solid 1px var(--borderColor); color: var(--darkColor); opacity: 0.5;}
body .revbtn.outline:hover { background: var(--whiteBg); border: solid 1px var(--borderColor); color: var(--darkColor);}
body .revbtn.regularbtn { border-radius: 8px; padding: 0 16px;}
body .revbtn.regularbtn:disabled { border-radius: 8px; padding: 0 16px; opacity: 0.5;}
body .revbtn.bigbtn { padding: 0 20px; font-size: 16px; font-weight: 600;}
body .revbtn.bigbtn:disabled { padding: 0 20px; font-size: 16px; font-weight: 600; opacity: 0.5;}
body .revbtn.wbigbtn { height: 48px; font-weight: 600; font-size: 16px;}
body .revbtn.wbigbtn:disabled { height: 48px; font-weight: 600; font-size: 16px; opacity: 0.5;}

.main_layout {
    padding: 24px;
}
.main_layout .Polaris-Page { padding-left: 0; padding-right: 0;}

.review_topline { margin: 0 0 24px 0;}
.review_topline .Polaris-Layout__Section { margin: 0; padding: 0;}
.review_topline ul { display: flex; align-items: center; margin: 0; padding: 0;}
.review_topline ul li { display: flex; align-items: center; margin: 0; padding: 0;}
.review_topline ul li a { display: flex; align-items: center; margin: 0; padding: 16px 39px; border-radius: 100px; background: transparent; text-decoration: none; color: var(--lightGreyColor); font-size: 18px;}
.review_topline ul li a i { display: block; width: 24px; height: 24px; font-size: 24px; margin: 0 10px 0 0;}
.review_topline ul li a.active { background: var(--LightblueColor3); color: var(--blueColor);}

.accordian_rowmain .Polaris-Layout__Section { margin: 0; padding: 0; min-height: 1px; height: auto; border: none;}
.accordian_rowmain .Polaris-Layout__Section .Polaris-LegacyCard { margin: 0; padding: 0; min-height: 1px; height: auto; box-shadow: none; border: none; background: none; overflow: visible;}
.accordian_rowmain .Polaris-Layout__Section .Polaris-LegacyCard::before { opacity: 0; visibility: hidden;}
.accordian_rowmain .Polaris-Layout__Section .Polaris-LegacyCard__Section { margin: 0; padding: 24px; min-height: 1px; height: auto; box-shadow: none; border: solid 1px var(--borderColor); background: var(--lightGreyBGcolor); border-radius: 10px !important;}
.accordian_rowmain .Polaris-Layout__Section .Polaris-LegacyStack--vertical { margin: 0; padding: 0; min-height: 1px; height: auto; display: block; box-shadow: none; border: none; background: none;}
.accordian_rowmain .Polaris-Layout__Section .Polaris-LegacyStack--vertical > .Polaris-LegacyStack__Item { margin: 0; padding: 0; min-height: 1px; height: auto; box-shadow: none; border: none; background: none;}
.accordian_rowmain .Polaris-Layout__Section .Polaris-ShadowBevel { margin: 24px 0 0 0; box-shadow: none; border-radius: 0;}
.accordian_rowmain .Polaris-Layout__Section .Polaris-ShadowBevel::before { opacity: 0; visibility: hidden;}
.accordian_rowmain .Polaris-Layout__Section .Polaris-ShadowBevel .Polaris-Box { background: var(--whiteBg); border-radius: 10px; overflow: visible; border: solid 1px var(--borderColor); padding: 24px;}

body .Polaris-TextField__Input { width: 100%; border: solid 1px var(--borderColor); height: 44px; padding: 0 16px; border-radius: 8px; resize: none; outline: none; box-shadow: none; color: var(--darkColor); font-size: 14px;}
body .Polaris-TextField--focus .Polaris-TextField__Input { border-color: var(--blueColor);}
body .Polaris-TextField__Backdrop,
body .Polaris-Select__Backdrop { display: none;}
body .Polaris-Select__Content { width: 100%; border: solid 1px var(--borderColor); height: 44px; padding: 0 10px 0 16px; border-radius: 8px; resize: none; outline: none; box-shadow: none; color: var(--darkColor); font-size: 14px;}
body .Polaris-Select__Content .Polaris-Icon { width: 24px; height: 24px;}
body .Polaris-Select__Content .Polaris-Icon svg { display: none;}
body .Polaris-Select__Content .Polaris-Icon::before { font-size: 24px; display: block; padding: 1px 0 0 0;
    content: "\e902";
    font-family: 'icon24' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    width: 24px;
    height: 24px;
}


.accordian_rowmain .acctitle { margin: 0; cursor: pointer; align-items: center;}
.accordian_rowmain .acctitle .iconbox { width: 52px; height: 52px; border-radius: 10px; background: var(--iconBGcolor); display: flex; align-items: center; justify-content: center; font-size: 32px; margin: 0 16px 0 0;}
.accordian_rowmain .acctitle .arrowicon { margin: 0 0 0 16px; display: flex; align-items: center; font-size: 24px;}
.accordian_rowmain .acctitle .arrowicon i { display: block; transition: all ease-in-out 0.3s; transform-origin: center center; width: 24px; height: 24px;}
.accordian_rowmain .open .acctitle .arrowicon i { transform: rotate(180deg);}
.accordian_rowmain .acctitle h1 { color: var(--darkColor); font-size: 18px; font-weight: 700; margin: 0; padding: 0; line-height: normal;}
.accordian_rowmain .acctitle p { padding: 6px 0 0 0; margin: 0; color: var(--lightGreyColor); font-size: 14px; font-weight: 400;}
.accordian_rowmain .acctitle .titledetail { display: flex; flex-direction: column; justify-content: space-between;}

.collectreviewformbox .bottomcheckrow { margin: 24px -24px -24px; padding: 12px 24px; border-top: solid 1px var(--borderColor);}

body .form-check { min-height: 20px; margin: 0;}
body .form-check.form-switch { padding-left: 0; margin: 0; display: flex; align-items: center;}
body .form-switch .form-check-input { width: 32px; margin: 0; height: 20px; vertical-align: top; --bs-form-switch-bg: url(../images/switch-round.svg); background-color: var(--borderColor); border: none; margin: 0; cursor: pointer;}
body .form-switch .form-check-input:focus { outline: none; box-shadow: none; --bs-form-switch-bg: url(../images/switch-round.svg);}
body .form-switch label { display: block; line-height: 20px; margin: 0; color: var(--darkColor); font-size: 14px; cursor: pointer;}
body .form-switch label span { display: block; padding: 4px 0 0 0; line-height: normal; color: var(--lightGreyColor); font-size: 12px;}
body .form-switch .form-check-input:checked { --bs-form-switch-bg: url(../images/switch-round.svg); background-color: var(--blueColor);}
body .form-switch .form-check-input + label { padding: 0 0 0 10px;}
body .form-check-input:active { filter: brightness(95%);}

.noreviewyetmain { margin: 0;}
.noreviewyetmain .Polaris-Layout__Section { margin: 0;}
.noreviewyetmain .imageplustext { margin: 0;}
.noreviewyetmain .imageplustext .imagebox { margin: 0 0 24px 0;}
.noreviewyetmain .imageplustext .imagebox img { width: 100%; max-width: 364px; height: auto;}
.noreviewyetmain h4 { text-align: center; color: var(--darkColor); font-size: 22px; font-weight: 700; margin: 0; padding: 0;}
.noreviewyetmain p { text-align: center; padding: 8px 0 0 0; margin: 0; font-size: 14px; color: var(--lightGreyColor);}

.totalreviewdisplay { padding: 24px; border-radius: 10px; background: var(--whiteBg); border: solid 1px var(--borderColor); margin: 0;}
.totalreviewdisplay .lefttotal { padding: 0 24px; border-right: solid 1px var(--borderColor); align-items: flex-start;}
.totalreviewdisplay .lefttotal h4 { font-size: 32px; font-weight: 700; color: var(--darkColor); margin: 0; padding: 0;}
.totalreviewdisplay .lefttotal p { color: var(--lightGreyColor); font-size: 16px; font-weight: 400; margin: 0; padding: 8px 0 0 0;}
.totalreviewdisplay .lefttotal h6 { font-size: 24px; font-weight: 700; color: var(--darkColor); margin: 0; padding: 0;}
.totalreviewdisplay .lefttotal .reviewcount { color: var(--lightGreyColor); font-size: 14px; font-weight: 400; margin: 0; padding: 6px 0 0 0;}
.totalreviewdisplay .lefttotal .ratingstars { font-size: 28px;}
.totalreviewdisplay .lefttotal .ratingstars .dficon { color: var(--borderColor);}
.totalreviewdisplay .lefttotal .inside_ratingstars { position: relative;}
.totalreviewdisplay .lefttotal .ratingstars .filledicon { position: absolute; left: 0; top: 0; overflow: hidden;
    background: -webkit-linear-gradient(-90deg, #FFE61C 0%, #FFA929 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.totalreviewdisplay .rightrating { padding: 0 20px 0 24px; row-gap: 26px;}
.totalreviewdisplay .rightrating .ratingrow { display: flex; align-items: center;}
.totalreviewdisplay .rightrating .starbox { margin: 0 10px 0 0; align-items: center; font-size: 14px; font-weight: 600;}
.totalreviewdisplay .rightrating .starbox i { margin: 0 0 0 4px; font-size: 15px;}
.totalreviewdisplay .rightrating .starlines { position: relative; height: 4px; border-radius: 8px; background: var(--borderColor);}
.totalreviewdisplay .rightrating .starlines .filledpart { position: absolute; left: 0; top: 0; height: 4px; border-radius: 8px; background: var(--blueColor);}
.totalreviewdisplay .rightrating .percentageright { width: 40px; color: var(--darkColor); font-size: 14px; font-weight: 600; margin: 0 0 0 10px;}

.dividerblk { margin: 24px 0; height: 1px; background: var(--borderColor); width: 100%;}

.form-group,
form .form-group { margin: 0 0 24px 0; width: 100%; position: relative;}
.form-group label,
form .form-group label { display: block; font-size: 14px; line-height: normal; font-weight: 600; color: var(--darkColor); margin: 0 0 12px 0; padding: 0;}
.input_text,
.form-control,
form .form-control,
form .input_text { width: 100%; height: 44px; border-radius: 8px; background: var(--whiteBg); border: solid 1px var(--borderColor); padding: 0 16px; outline: none !important; box-shadow: none !important; resize: none; font-size: 14px; resize: none;}
textarea.form-control,
form textarea.form-control,
form textarea.input_text { height: 160px; padding-top: 8px; padding-bottom: 8px;}
.filterandserchwrap { padding: 24px; border-radius: 10px; background: var(--whiteBg); border: solid 1px var(--borderColor); margin: 24px 0 0 0;}
.letterlimite { position: absolute; right: 0; top: 100%; font-size: 12px; color: var(--lightGreyColor);}

.reviewlistblocks { margin: 24px 0 0 0;}
.reviewlistblocks .topactions { align-items: center; margin: 0 0 24px 0;}
.reviewlistblocks .topactions .reviewcounttop { display: flex; align-items: center; font-size: 22px; line-height: normal; font-weight: 700; color: var(--darkColor);}
.reviewlistblocks .topactions .reviewcounttop span { margin: 0 5px 0 0; display: block;}
.reviewlistblocks .topactions .rightbox { display: flex;}
.reviewlistblocks .replywrap { margin: 24px 0 0 0; padding: 24px 0 0 0; border-top: solid 1px var(--borderColor); align-items: flex-start;}
.reviewlistblocks .replywrap h3 { font-size: 20px; font-weight: 700; color: var(--darkColor); margin: 0; padding: 0;}
.reviewlistblocks .replywrap p { text-align: left;}
.reviewlistblocks .replywrap .replayaction { display: flex; align-items: center; margin: 0 0 0 40px;}
.reviewlistblocks .replywrap .replayaction button { width: 28px; height: 28px; outline: none; border: none; box-shadow: none; border-radius: 0; background: none; font-size: 28px; color: var(--darkColor); line-height: 1; padding: 0;}
.reviewlistblocks .replywrap .replayaction button + button { margin: 0 0 0 16px;}
.reviewlistblocks .replywrap .replayaction button:hover { color: var(--blueColor);}

.accordian_rowmain + .accordian_rowmain { margin-top: 16px;}

.reviewbunch { margin: 0;}
.reviewbunch + .reviewbunch { margin-top: 16px;}
.reviewbunch .reviewrowbox { margin: 0; padding: 24px; background: var(--whiteBg); border: solid 1px var(--borderColor); border-radius: 10px;}
.reviewbunch .reviewrowbox .topline { display: flex;}
.reviewbunch .reviewrowbox .slider_imagebox { width: 168px; height: 168px; position: relative; margin: 0 15px 0 0;}
.reviewbunch .reviewrowbox .imagebox::before { content: ''; display: block; padding-top: 100%; margin: 0 15px 0 0;}
/* .reviewbunch .reviewrowbox .slider_imagebox img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; object-fit: cover;} */
.reviewbunch .reviewrowbox .rightinfo { margin: 0; padding: 0 20px 0 0;}
.reviewbunch .reviewrowbox .rightinfo .titlebox { width: 100%; display: flex; align-items: flex-start;}
.reviewbunch .reviewrowbox .rightinfo .checkmark { margin: 0 10px 0 0; display: flex; width: 24px; height: 24px; color: var(--whiteText); background: var(--blueColor); align-items: center; justify-content: center; font-size: 22px; border-radius: 50px;}
.reviewbunch .reviewrowbox .rightinfo .titlebox h4 { font-size: 20px; color: var(--darkColor); margin: 0; padding: 0; font-weight: 400;}
.reviewbunch .reviewrowbox .rightinfo .titlebox h4 strong { font-weight: 700; color: var(--blueColor);}
.reviewbunch .reviewrowbox .rightinfo .titlebox h4 a { color: var(--blueColor); text-decoration: none;}
.reviewbunch .reviewrowbox .rightinfo .displayname { color: var(--lightGreyColor); font-size: 14px; margin: 0; padding: 12px 0 0 0;}
.reviewbunch .reviewrowbox .rightinfo .starreviewstatus { display: flex; align-items: center;}
.reviewbunch .reviewrowbox .rightinfo .ratingstars { font-size: 24px; align-items: center; line-height: 1; margin: 12px 0 0 0;}
.reviewbunch .reviewrowbox .rightinfo .ratingstars .dficon { color: var(--borderColor);}
.reviewbunch .reviewrowbox .rightinfo .inside_ratingstars { position: relative;}
.reviewbunch .reviewrowbox .rightinfo .ratingstars .filledicon { position: absolute; left: 0; top: 0; overflow: hidden;
    background: -webkit-linear-gradient(-90deg, #FFE61C 0%, #FFA929 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.reviewbunch .reviewrowbox .rightinfo .rating_time { font-size: 14px; color: var(--darkColor); font-weight: 400; padding: 0 0 0 12px;}
.reviewbunch .reviewrowbox .rightinfo .reviewstatus { padding: 5px 12px; border-radius: 50px; background: var(--LightblueColor3); white-space: nowrap; font-size: 10px; line-height: 14px; color: var(--blueColor); font-weight: 600; margin: 0 0 0 12px;}
.reviewbunch .reviewrowbox .rightinfo .reviewstatus img { margin: 0 6px 0 0;}
.reviewbunch .reviewrowbox .rightinfo p { line-height: 1.71; text-align: left; padding: 14px 0 0 0;}

.reviewbunch .reviewrowbox .rightactions { margin: 0;}
.reviewbunch .reviewrowbox .rightactions .sociallinks { margin: 0 0 0 auto;}
.reviewbunch .reviewrowbox .rightactions .sociallinks a { display: flex; align-items: center; justify-content: center;}
.reviewbunch .reviewrowbox .rightactions .sociallinks a + a { margin: 0 0 0 14px;}
.reviewbunch .reviewrowbox .rightactions .sociallinks a img { width: 24px; height: 24px;}
.reviewbunch .reviewrowbox .rightactions .bottombuttons { display: flex; margin: auto 0 0 0; column-gap: 16px;}

.reviewquestionwrap { margin: 14px 0 0 0;}
.reviewquestionwrap .qabox { width: 100%;}
.reviewquestionwrap .qabox .questiontitle { font-size: 13px; font-weight: 500; color: var(--lightGreyColor);}
.reviewquestionwrap .qabox .answerofque { margin: 0; font-size: 14px; color: var(--darkColor); display: block; font-weight: 500;}


body .dropdown-menu { padding: 6px; background: var(--whiteBg); border-radius: 10px; border: solid 1px var(--borderColor);}
body .dropdown-menu .dropdown-item { white-space: nowrap; height: 44px; border-radius: 10px; color: var(--lightGreyColor); font-size: 14px; display: flex; align-items: center; padding: 0 10px;}
body .dropdown-menu .dropdown-item:hover { background: var(--lightGreyBGcolor); color: var(--darkColor);}

.dropdownwrap .dropdown .btn { display: inline-flex; height: 44px; padding: 0 24px; border-radius: 100px; font-size: 14px; font-weight: 400; background: var(--blueColor); text-decoration: none; outline: none; box-shadow: none; color: var(--whiteText); align-items: center; column-gap: 6px; border: none; line-height: 16px;}
.dropdownwrap .dropdown.unpblishstatus .btn { background: var(--iconBGcolor); color: var(--lightGreyColor); line-height: 16px;}

.dropdownwrap.ddlightbtn .dropdown .btn { background: var(--iconBGcolor); color: var(--lightGreyColor); border-radius: 8px; padding: 0 20px; font-size: 16px; font-weight: 600; color: var(--darkColor); line-height: 16px;}
.slider_imagebox .dropdownwrap { position: absolute; right: 0; top: 0;}
.slider_imagebox .dropdownwrap.ddlightbtn .dropdown .btn { padding: 0; margin: 0; background: none; border: none; width: 24px; height: 24px; background: var(--whiteBg); border-radius: 50px;}
.slider_imagebox .dropdownwrap.ddlightbtn .dropdown .btn::after { display: none;}
body .slider_imagebox .dropdown-menu { padding: 0; min-width: 120px;}
body .slider_imagebox .dropdown-menu .dropdown-item { padding: 2px 5px; height: auto; font-size: 12px; width: auto; max-width: none; color: var(--darkColor); font-weight: 500;}


.questionrow { background: var(--whiteBg); border-radius: 10px; overflow: visible; border: solid 1px var(--borderColor); padding: 24px; margin: 24px 0 0 0; display: flex;}
.questionrow .draggableicon { align-items: center; margin: 0 16px 0 0;}
.questionrow .draggableicon .iconbox { width: 24px; height: 24px; line-height: 22px; font-size: 24px; cursor: move;}
.questionrow .questionmiddbox .mainquestion h3 { font-size: 20px; color: var(--darkColor); font-weight: 600; margin: 0; padding: 0;}
.questionrow .questionmiddbox .morequestions_wrap { column-gap: 16px; row-gap: 16px; margin: 24px 0 0 0;}
.questionrow .questionmiddbox .morequestions_wrap .singlequestion { line-height: 1.714; color: var(--lightGreyColor); font-size: 14px; padding: 8px 24px; border-radius: 50px; background: var(--lightGreyBGcolor);}
.questionrow .questionaction .dropdown .btn { width: 24px; height: 24px; padding: 0; justify-content: center; border-radius: 50px; font-size: 24px; color: var(--darkColor); background: var(--lightGreyBGcolor);}
.questionrow .questionaction .dropdown.show .btn.show { background: var(--blueColor); color: var(--whiteText);}
.questionrow .questionaction .dropdown .btn::after { display: none;}

body .modal .modal-dialog .modal-content { background: var(--whiteBg); border-radius: 20px; border: none; box-shadow: none;}
body .modal .modal-dialog .modal-content .modal-header { padding: 24px 32px; border-bottom-color: var(--borderColor);}
body .modal .modal-dialog .modal-content .modal-header .modal-title.h4 { font-size: 24px; line-height: normal; color: var(--darkColor); font-weight: 600;}
body .modal .modal-dialog .modal-content .modal-header .btn-close { width: 44px; height: 44px; padding: 0; margin: 0 0 0 auto; border-radius: 60px; background: var(--lightGreyBGcolor); color: var(--darkColor); opacity: 1; font-size: 24px;}
body .modal .modal-dialog .modal-content .modal-header .btn-close::before { content: "\e926"; font-family: 'icon24' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
body .modal .modal-dialog .modal-content .modal-body { padding: 24px 32px;}
body .modal .modal-dialog .modal-content .modal-footer { margin: 0 32px; padding: 24px 0; justify-content: flex-start; border-top: solid 1px var(--borderColor);}
body .modal.smallmodal .modal-dialog { max-width: 564px;}
body .modal .bottomcheckrow { margin: 16px 0 0 0;}
body .modal .productselected { font-size: 12px; color: var(--lightGreyColor); font-weight: 500;}
body .modal .productselected span { color: var(--darkColor);}
body .modal .modal-dialog.productselect .modal-body { display: flex; flex-direction: column;}
body .modal .modal-dialog.productselect .modal-body .propopuplist { overflow: auto;}
body .modal .modal-dialog.productselect .modal-body .row { margin: 0; column-gap: 16px;}
body .modal .modal-dialog.productselect .modal-body .row [class*="col-"] { padding: 0; width: calc(50% - 8px);}

.propopuplist::-webkit-scrollbar-track { background: transparent; border-radius: 0; }
.propopuplist::-webkit-scrollbar-thumb { background-color: #718795; border: none; border-radius: 10px; width: 6px; height: 6px; border: solid 3px #ffffff;}
.propopuplist::-webkit-scrollbar { height: 6px; width: 12px;}


.modalAnswerItems { position: relative;}
.modalAnswerItems + .modalAnswerItems { margin-top: 44px;}
.modalAnswerItems .inputandlatter { position: relative;}
.modalAnswerItems .draggable { display: flex; align-items: center;}
.modalAnswerItems .deletebtn { margin: 0 0 0 16px;}
.modalAnswerItems .deletebtn button { background: none; outline: none; border: none; box-shadow: none; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; font-size: 24px;}
.btnwrap.popbtnwrap { margin-top: 44px;}
.btnwrap.popbtnwrap .revbtn { width: 100%; text-align: center; justify-content: center;}
.btnwrap.popbtnwrap .revbtn i { font-size: 22px;}


.collectreviewformbox { margin: 24px 0 0 0;}
.collectreviewformbox .Polaris-ShadowBevel { box-shadow: none; background: none; border: none; outline: none; border-radius: 0;}
.collectreviewformbox .Polaris-ShadowBevel::before { display: none;}
.collectreviewformbox .Polaris-ShadowBevel .Polaris-Box { background: var(--whiteBg); border-radius: 10px; overflow: visible; border: solid 1px var(--borderColor); padding: 24px; box-shadow: none;}
.collectreviewformbox form label { font-size: 14px; font-weight: 600; color: var(--darkColor); margin: 0; padding: 0 0 12px 0; line-height: normal;}
.collectreviewformbox form .react-multi-email { border: solid 1px var(--borderColor); border-radius: 8px; padding: 8px;}
.collectreviewformbox form .react-multi-email > input { font-size: 14px; color: var(--darkColor); font-weight: 500;}
.collectreviewformbox form .react-multi-email .data-labels > div { background: var(--iconBGcolor); border-radius: 50px; padding: 6px 12px; color: var(--darkColor);}
.collectreviewformbox form .react-multi-email [data-tag] [data-tag-handle] { font-size: 0; margin: 0 0 0 4px;}
.collectreviewformbox form .react-multi-email [data-tag] [data-tag-handle]::before { content: "\e926"; font-size: 16px;
    font-family: 'icon24' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.collectreviewformbox form .productslist { background: var(--whiteBg); border-radius: 10px; overflow: visible; border: solid 1px var(--borderColor);}
.collectreviewformbox form .productslist ul.proul:empty { display: none;}
.collectreviewformbox form .productslist ul.proul { margin: 0; padding: 0; display: block;}
.collectreviewformbox form .productslist ul.proul li { margin: 0; padding: 10px 14px; display: flex; align-items: center;}
.collectreviewformbox form .productslist ul.proul li + li { border-top: solid 1px var(--borderColor);}
.collectreviewformbox form .productslist ul.proul li .imagebox { width: 40px; height: 40px; border-radius: 4px; border: solid 1px var(--borderColor); position: relative; overflow: hidden; margin: 0 12px 0 0;}
.collectreviewformbox form .productslist ul.proul li .imagebox img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; object-fit: cover;}
.collectreviewformbox form .productslist ul.proul li p { font-size: 14px; color: var(--darkColor); font-weight: 500; margin: 0; padding: 0;}
.collectreviewformbox form .productslist ul.proul li button { background: none; border: none; box-shadow: none; width: 30px; height: 30px; border-radius: 50px; background: var(--iconBGcolor); display: flex; align-items: center; justify-content: center; font-size: 20px;}
.collectreviewformbox form .inside_formcontent { display: flex; flex-direction: column; row-gap: 24px;}
.collectreviewformbox form .btninwrap { padding: 16px 24px; display: flex; justify-content: center;}
.collectreviewformbox form .emailbottom span { font-size: 12px; color: var(--lightGreyColor);}

.sectitlebox { margin: 0 0 24px 0; text-align: center;}
.sectitlebox h2 { font-size: 24px; line-height: 1.41; color: var(--darkColor); font-weight: 700; margin: 0; padding: 0;}
.sectitlebox p { font-size: 16px; line-height: normal; color: var(--lightGreyColor); margin: 0; padding: 8px 0 0 0;}

.pagebackbtn { margin: 24px 0 0 0; display: flex;}
.pagebackbtn a { display: flex; align-items: center; font-size: 16px; font-weight: 600; color: var(--darkColor); line-height: 1.5; text-decoration: none; column-gap: 6px;}
.pagebackbtn a i { display: flex; align-items: center; justify-content: center; width: 24px; height: 24px; background: var(--lightGreyBGcolor); border-radius: 50px; color: var(--darkColor); font-size: 20px;}

.inputnote { margin: 8px 0 0 0; padding: 0; line-height: normal; font-size: 12px; color: var(--lightGreyColor); line-height: 1.66;}
.inputnote a { color: var(--darkColor);}
.inputnote strong { font-weight: 600;}

.propopuplist { margin: 24px 0 0 0;}
.propopuplist .row { row-gap: 16px;}
.propopuplist .product-item {}
.propopuplist .product-item .form-check { margin: 0; padding: 0;}
.propopuplist .product-item .form-check input[type="checkbox"] { display: none;}
.propopuplist .product-item .form-check label { display: flex; position: relative; align-items: center; border-radius: 8px; border: solid 1px var(--borderColor); padding: 10px 14px; background: var(--lightGreyBGcolor);}
.propopuplist .product-item .form-check label::before { content: "\e906"; font-family: 'icon24' !important; display: block; width: 20px; height: 20px; background: var(--whiteBg); border: solid 1px var(--borderColor); margin: 0 10px 0 0; border-radius: 4px; display: flex; align-items: center; justify-content: center; font-size: 0;}
.propopuplist .product-item .form-check label .imgbox { width: 50px; height: 50px; border-radius: 5px; overflow: hidden; position: relative;}
.propopuplist .product-item .form-check label .imgbox img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; object-fit: cover;}
.propopuplist .product-item .form-check label h5 { margin: 0 0 0 10px; padding: 0; font-size: 14px; font-weight: 600;}
.propopuplist .product-item .form-check input[type="checkbox"]:checked + label { background: var(--LightblueColor3); border-color: var(--LightblueColor1);}
.propopuplist .product-item .form-check input[type="checkbox"]:checked + label::before { font-size: 19px; color: var(--whiteText); background: var(--blueColor); border-color: var(--blueColor);}

.modal-content .modal-footer>* { margin: 0;}


.alertbox { width: 100%; padding: 16px; border-radius: 10px; background: var(--lightGreyBGcolor); display: flex; align-items: center;}
.alertbox .iconbox { margin: 0 6px 0 0; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; font-size: 24px;}
.alertbox .plaintext { font-size: 14px; color: var(--darkColor);}
.alertbox .plaintext a { color: var(--blueColor); font-weight: 600;}
.alertbox .closebtn { margin: 0 0 0 16px;}
.alertbox .closebtn a { text-decoration: none; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; background: var(--whiteBg); border-radius: 50px; color: var(--darkColor); font-size: 20px;}
.alertbox.primarybox { background: var(--LightblueColor2);}
.mt-24 { margin-top: 24px !important;}

.whitebox { width: 100%; padding: 24px; background: var(--whiteBg); border: solid 1px var(--borderColor); border-radius: 10px;}


.orderlistmain { display: flex; flex-direction: column; row-gap: 16px;}
.order_row { width: 100%;}
.order_row .topmetabox { width: 100%; border-bottom: solid 1px var(--borderColor); display: flex; align-items: center; padding: 0 0 24px 0;}
.order_row .topmetabox .titlebox { color: var(--darkColor); font-size: 20px; line-height: 1.6; font-weight: 600; margin: 0; padding: 0;}
.order_row .suborderwrap { width: 100%; display: flex; flex-direction: column; margin: 16px 0 0 0; row-gap: 16px;}
.order_row .suborderrow { width: 100%; align-items: center;}
.order_row .suborderrow .ordername { font-size: 16px; color: var(--darkColor); font-weight: 400; margin: 0; padding: 0;}
.order_row .suborderrow .orderstatus span { display: flex; height: 40px; align-items: center; padding: 0 16px; font-size: 14px; font-weight: 400; color: var(--darkColor); background: var(--lightGreyBGcolor); border-radius: 50px;}

.graywrapbox { background: var(--lightGreyBGcolor); border: solid 1px var(--borderColor); padding: 24px; border-radius: 10px; margin: 0 auto;}
.graywrapbox.gapy24 { display: flex; flex-direction: column; row-gap: 24px;}

.subtitlebox { padding: 0 0 0 0;}
.subtitlebox h2 { margin: 0; padding: 0; color: var(--darkColor); font-size: 18px; font-weight: 700; line-height: normal;}
.subtitlebox p { margin: 0; padding: 8px 0 0 0; color: var(--lightGreyColor); font-size: 14px; font-weight: 400; line-height: normal;}


body .dropdown-toggle::after { content: "\e902"; font-family: 'icon24' !important; line-height: 1; display: flex; width: 24px; height: 24px; border: none; margin: 0; align-items: center; justify-content: center; font-size: 22px;}
.whitebox.flxcol { row-gap: 16px;}

.input_wrap .iconbox { margin: 0 12px 0 0;}
.starlightdd .dropdown .btn { display: inline-flex; height: 44px; padding: 0 10px; border-radius: 8px; font-size: 14px; font-weight: 400; background: var(--whiteBg); text-decoration: none; outline: none; box-shadow: none; color: var(--darkColor); align-items: center; column-gap: 2px; border: solid 1px var(--borderColor); line-height: 16px;}
.starlightdd .dropdown .btn i { font-size: 32px; width: 32px; height: 32px; line-height: 1; display: flex; align-items: center; justify-content: center;}
.starlightdd .dropdown .btn:active { background: var(--whiteBg); color: var(--darkColor); border-color: var(--borderColor);}
.starlightdd .dropdown .dropdown-menu { width: 400px; flex-wrap: wrap;}
.starlightdd .dropdown .dropdown-menu.show { display: flex; }
.starlightdd .dropdown .dropdown-menu a { width: 44px; padding: 0; justify-content: center;}
.starlightdd .dropdown .dropdown-menu i { font-size: 32px; width: 32px; height: 32px; display: flex; align-items: center; justify-content: center;}


.imageuploadbox { width: 100%; position: relative; background: var(--whiteBg); border: solid 1px var(--borderColor); border-radius: 8px; padding: 12px 16px;}
.imageuploadbox .filebtnbox { display: flex; align-items: center; justify-content: center; position: relative;}
.imageuploadbox .filebtnbox .inputfileimage { position: absolute; width: 10px; height: 10px; top: -20px; left: -20px; cursor: pointer; opacity: 0;}
.imageuploadbox .filebtnbox label:not(.revbtn) { display: flex; align-items: center; justify-content: center; height: 32px; border-radius: 6px; background: var(--lightGreyBGcolor); color: var(--darkColor); font-size: 14px; padding: 0 10px; margin: 0; cursor: pointer;}
.imageuploadbox .filebtnbox label.revbtn { display: flex; align-items: center; cursor: pointer;}
.imageuploadbox.hasfile .filebtnbox { display: none;}
.imageuploadbox .files-list-container { display: flex; justify-content: center;}
.imageuploadbox .files-list-container .form__image-container { position: relative; width: 80px; height: 80px; background: var(--whiteBg); border: solid 1px var(--borderColor); border-radius: 6px; display: flex; justify-content: center; align-items: center;}
.imageuploadbox .files-list-container .form__image-container .form__image { max-width: 100%; max-height: 100%; width: auto; height: auto;}
.imageuploadbox .files-list-container .form__image-container .deleteicon { position: absolute; width: 24px; height: 24px; color: var(--whiteBg); display: flex; align-items: center; justify-content: center; border-radius: 50px; background: var(--redColor); right: -10px; top: -10px; cursor: pointer;}
.imageuploadbox.emailbannerimage { padding: 0; min-height: 356px;}
.imageuploadbox.emailbannerimage .files-list-container {}
.imageuploadbox.emailbannerimage {}

.imageuploadbox.emailbannerimage:not(.hasfile ) { display: flex; justify-content: center; align-items: center;}
.imageuploadbox.emailbannerimage:not(.hasfile ) .filebtnbox { column-gap: 16px;}
.imageuploadbox.emailbannerimage.hasfile { min-height: 10px;}
.imageuploadbox.emailbannerimage.hasfile .btnwrap { display: none;}
.imageuploadbox.emailbannerimage.hasfile .filebtnbox { display: block; position: absolute; right: 66px; top: 10px; z-index: 1;}
.imageuploadbox.emailbannerimage.hasfile .filebtnbox label { width: 44px; height: 44px; font-size: 24px; background: var(--whiteBg); color: var(--blueColor); display: flex; align-items: center; justify-content: center; border-radius: 60px;}
.imageuploadbox.emailbannerimage.hasfile .files-list-container { width: 100%;}
.imageuploadbox.emailbannerimage.hasfile .files-list-container .listbox { width: 100%;}
.imageuploadbox.emailbannerimage.hasfile .files-list-container .form__image-container { width: 100%; height: auto; border-radius: 6px; overflow: hidden; border: none;}
.imageuploadbox.emailbannerimage.hasfile .files-list-container .form__image-container img { width: 100%; height: auto;}
.imageuploadbox.emailbannerimage.hasfile .files-list-container .form__image-container .deleteicon { width: 44px; height: 44px; border-radius: 60px; right: 10px; top: 10px; background: var(--whiteBg); color: var(--redColor); font-size: 24px;}
.imageuploadbox.emailbannerimage.hasfile .files-list-container .form__image-container .deleteicon svg { width: 24px; height: 24px;}



.maininsideacc { margin: 0; padding: 24px; background: var(--whiteBg); margin: 24px 0 0 0; border: solid 1px var(--borderColor); border-radius: 10px;}
.maininsideacc .insiderowacc { display: flex; align-items: center; cursor: pointer;}
.maininsideacc .insiderowacc + .insiderowacc { border-top: solid 1px var(--borderColor); padding-top: 16px; margin-top: 16px;}
.maininsideacc .insiderowacc .titledetail { display: flex; flex-direction: column;}
.maininsideacc .insiderowacc h6 { color: var(--darkColor); font-size: 14px; font-weight: 700; margin: 0; padding: 0; line-height: normal;}
.maininsideacc .insiderowacc p { padding: 8px 0 0 0; margin: 0; color: var(--lightGreyColor); font-size: 14px; font-weight: 400; line-height: normal;}
.maininsideacc .insiderowacc .arrowicon { margin: 0 0 0 16px; display: flex; align-items: center; font-size: 24px;}
.maininsideacc .insiderowacc .arrowicon i { display: block; transition: all ease-in-out 0.3s; transform-origin: center center; width: 24px; height: 24px;}


.form-group.inlinerow { display: flex; align-items: center;}
.form-group.inlinerow label { white-space: nowrap; margin: 0 12px 0 0; padding: 0;}

.graywrapbox.max1048 { max-width: 1048px;}


.pagetitle { display: flex; align-items: center;}
.pagetitle .pagebackbtn { margin: 0;}

.bannerverticalwrap { display: flex; flex-direction: column; row-gap: 16px;}

.sentrowbanner { align-items: center; justify-content: space-between;}
.sentrowbanner p { margin: 0; padding: 0; font-size: 12px; color: var(--darkColor);}
