.breadcrumbs {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.breadcrumbs li {
  display: inline;
  margin-right: 5px;
}
.breadcrumbs li:not(:last-child)::after {
  content: '/';
  margin-left: 5px;
  color: #999;
}
.breadcrumbs li:last-child {
  font-weight: bold;
  color: #333;
}
.breadcrumbs li:last-child::after {
  content: '';
  margin-left: 5px;
}
.breadcrumbs a {
  text-decoration: none;
  color: #0066cc;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbHome{
  width: 14px;
}